/* Body styling */
body {
    font-family: "Martian Mono", sans-serif;
    margin: 0;
    background-color: #f4f4f4;
    color: #333;
    padding: 0;
}

/* Header styling */
header {
    background-color: #333;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #e0e0e0;
}

#logo img{
    height: 50px;
    width: 150px;
}

header nav {
    margin-top: 10px;
}

header nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
    font-size: 18px;
}

header nav a:hover {
    text-decoration: underline;
    background-color: #99E31E;
}

.notification {
    background-color: #555;
    color: white;
    text-decoration: none;
    padding: 15px 26px;
    position: absolute;
    display: inline-block;
    border-radius: 2px;
  }
  
  .notification:hover {
    background: green;
  }
  
  .notification .badge {
    top: -10px;
    right: -10px;
    padding: 5px 10px;
    border-radius: 50%;
    background: red;
    color: white;
  }

  .about-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 20px;
  }

  .about-grid section {
    /* background-color: white; */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  main.what-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 20px;
  }

  .bush-card, .mosque, .msg{
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
  }

  .bush-card img, .mosque img {
    max-width: 100%;
    border-radius: 8px;
  }

  .msg h2 {
    margin-top: 0;
  }

  .msg p{
    text-align: left;
  }



/* Main grid styling */
.home-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 20px;
}

.home-grid section{
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}
.card-img {
    width: 100%;
    border-radius: 10px;
}

.lagos-card, .camping-card, .msg {
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    color: #333;
}

.msg {
    grid-column: span 2;
    text-align: center;
    background-color: burlywood;
}

/* Join Us button styling */
.join {
    display: inline-block;
    background: green;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
}

.join:hover {
    background: #555;
}

/* Footer styling */
footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: relative;
}

footer a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}

footer a:hover{
    color: white
}

footer img {
    width: 30px;
    height: 30px;
    vertical-align: middle;
}

/* Style all font awesome icons */
.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
  }
  
  /* Add a hover effect if you want */
  .fa:hover {
    opacity: 0.7;
  }
  
  /* Set a specific color for each brand */
  
  /* Facebook */
  .fa-facebook {
    background: #3B5998;
    color: white;
  }

  
.fa-instagram {
    background: #125688;
    color: white;
  }

  .fa-linkedin {
    background: #007bb5;
    color: white;
  }  

@media (max-width: 768px) {
    .home-grid {
        grid-template-columns: 1fr;
    }

    .msg {
        grid-column: span 1;
    }
}
